@using BakeryWebApp.Models.Database
@model CategoryGroupDataModel
@{
    ViewData["Title"] = "Edit Category " + Model.CategoryName;
}

<div id="content">
    <div>
        <h2 class="mb-3">@ViewBag.Title</h2>
        <form asp-action="CategoryEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="form-label">ID</label>
                <input asp-for="CategoryId" type="hidden" class="form-control" />
                <div class="form-text">This value is can not be changed.</div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CategoryName" class="form-label">Name</label>
                <input asp-for="CategoryName" type="text" class="form-control" />
                <span asp-validation-for="CategoryName" class="form-text text-danger"></span>
            </div>

            <h4>Groups</h4>
            <a asp-controller="Database" asp-action="GroupEdit" asp-route-id="@Model.CategoryId" class="btn btn-outline-info">Edit Groups</a>
            @foreach (Group group in Model.Groups)
            {
                <div class="form-group mb-3">
                    <input asp-for="Groups" type="text" class="form-control" value="@group.GroupName" />
                </div>
            }
            <span asp-validation-for="Groups" class="form-text text-danger"></span>

            

            <button type="submit" class="btn btn-primary">Update Category</button>
            <a href='javascript:history.go(-1)' class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>