@model Product
@{
    ViewData["Title"] = "Edit " + Model.ProductName;
}

<div id="content">
    <div>
        <h2>@ViewBag.Title</h2>
        <form asp-action="EditProduct" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="ProductName" class="form-label">ID</label>
                <input asp-for="ProductId" class="form-control" disabled />
                <div class="form-text">This value is set by the database and can not be changed.</div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProductName" class="form-label">Name</label>
                <input asp-for="ProductName" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProductPrice" class="form-label">Price</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input asp-for="ProductPrice" type="number" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProductDescription" class="form-label">Description</label>
                <input asp-for="ProductDescription" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="GroupId" class="form-label">Group</label>
                <select asp-for="GroupId" class="form-control">
                    @foreach(Group group in ViewBag.Groups) {
                        <option value="@group.GroupId">@group.GroupName</option>
                    }
                </select>

                <input type="hidden" asp-for="ProductGroup" />
            </div>

            <button type="submit" class="btn btn-primary">Update Changes</button>
            <a href='javascript:history.go(-1)' class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>