@using BakeryWebApp.Models.Database
@model Product
@{
    ViewData["Title"] = "Delete " + Model.ProductName;
}

<div id="content">
    <div>
        <h2 class="mb-3">@ViewBag.Title</h2>
        <form asp-action="ProductDelete">
            <input type="hidden" asp-for="ProductId" />

            <h3>Are you sure you want to delete <strong>@Model.ProductName</strong> <small class="text-body-secondary">(@Model.Slug)</small>?</h3>
            <h5 class="text-danger mb-5">This product will not be able to be recovered!</h5>

            <button type="submit" class="btn btn-danger">Delete Product</button>
            <a href='javascript:history.go(-1)' class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>