@model DatabaseViewModel
@{
    ViewData["Title"] = "Products";
}

<div id="content">
    <div>
        <h2>@ViewBag.Title</h2>
        <a asp-controller="Database" asp-action="AddProduct" class="btn btn-primary">New Product</a>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Availability</th>
                <th> </th>
            </tr>
            <tbody>
                @foreach (Product product in Model.Products) {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@String.Format("{0:C2}", product.ProductPrice)</td>
                        <td>@product.ProductDescription</td>
                        <td>
                            @if (product.IsAvailable)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td>
                            <a asp-controller="Database" asp-action="EditProduct" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>